<%= stylesheet_link_tag 'main.css' %>
<ul>
  <li><a class="active" href='/elevatorcos/new'>Add Elevator Company</a></li>
  <li><a href='/elevatorcos'>Back to Elevator Companies</a></li>
  <li><a href='/buildings'>Buildings</a></li>
</ul>
<%= form_with url: '/elevatorcos', method: :post, local: true do |form| %>
  <%= form.label "Name:" %><br>
  <%= form.text_field :name %><br>
  <%= form.label "Address:" %><br>
  <%= form.text_field :address %><br>
  <%= form.label "Number of Technicians:" %><br>
  <%= form.number_field :num_technicians %><br>
  Offers Installation?<br>
  <%= form.label :install_true, "YES" %>
  <%= form.radio_button :offers_install?, true %>
  <%= form.label :install_false, "NO" %>
  <%= form.radio_button :offers_install?, false %><br>
  Offers Service?<br>
  <%= form.label :service_true, "YES" %>
  <%= form.radio_button :offers_service?, true %>
  <%= form.label :service_false, "NO" %>
  <%= form.radio_button :offers_service?, false %><br>
  Offers Modernization?<br>
  <%= form.label :mod_true, "YES" %>
  <%= form.radio_button :offers_modernization?, true %>
  <%= form.label :mod_false, "NO" %>
  <%= form.radio_button :offers_modernization?, false %><br><br>
  <%= form.submit "Add Elevator Company" %>
<% end %>
