<a href='/elevatorcos'>Back to Elevator Companies Main</a><br>
<a href='/buildings'>Buildings Main</a><br><br>
<h1><%= @elevatorco.name %></h1>
<p>
  <%= @elevatorco.address %><br>
<ul>
  <li>Number of technicians: <%= @elevatorco.num_technicians %></li>
  <li>Offers installation?: <%= @elevatorco.offers_install? %></li>
  <li>Offers service?: <%= @elevatorco.offers_service? %></li>
  <li>Offers modernization?: <%= @elevatorco.offers_modernization? %></li>
  <li>Number of service contracts: <%= @elevatorco.count_of_buildings %></li>
  <li><%= link_to "Buildings Under Service Contract", "/elevatorcos/#{@elevatorco.id}/buildings" %><br></li>
</ul><br><br>
  <%= link_to "Update Company Info", "/elevatorcos/#{@elevatorco.id}/edit" %>
</p>
