<ul>
  <li><a class="active" href=<%= "/elevatorcos/#{@elevatorco.id}" %>><%= "#{@elevatorco.name}" %></a></li>
  <li><a href='/elevatorcos'>Back to Elevator Companies</a></li>
  <li><a href='/buildings'>Buildings</a></li>
</ul>
<h1><%= @elevatorco.name %></h1>
  <%= @elevatorco.address %><hr>
<p>
  Number of technicians: <%= @elevatorco.num_technicians %><br>
  Offers installation?: <%= @elevatorco.offers_install? %><br>
  Offers service?: <%= @elevatorco.offers_service? %><br>
  Offers modernization?: <%= @elevatorco.offers_modernization? %><br>
  Number of service contracts: <%= @elevatorco.count_of_buildings %><br>
  <%= link_to "Buildings Under Service Contract", "/elevatorcos/#{@elevatorco.id}/buildings" %><br>
  Added on: <%= @elevatorco.created_at %><br>
  Last updated: <%= @elevatorco.updated_at %><br>
</p><br><hr>
  <button><%= link_to "Update Company Info", "/elevatorcos/#{@elevatorco.id}/edit" %></button>
  <button><%= link_to "Delete Company", "/elevatorcos/#{@elevatorco.id}", method: :delete %></button>
