<ul>
  <li><a class="active" href=<%= "/elevatorcos/#{@elevatorco.id}/buildings" %>><%= "#{@elevatorco.name} Service Contracts" %></a></li>
  <li><a href=<%= "/elevatorcos/#{@elevatorco.id}" %>>Back to <%= "#{@elevatorco.name}" %></a></li>
  <li><a href='/elevatorcos'>Elevator Companies</a></li>
  <li><a href='/buildings'>Buildings</a></li>
</ul>
<h3><%= @elevatorco.name %> Service Contracts</h3>
<hr>
<p>
<% @buildings.each do |building| %>
  <%= link_to building.name, "/buildings/#{building.id}" %><br>
  <button><%= link_to "Edit Building Info", "/buildings/#{building.id}/edit" %></button>
  <button><%= link_to "Delete Building", "/buildings/#{building.id}", method: :delete %></button><br><hr>
<% end %>
</p>
<%= form_with url: "/elevatorcos/#{@elevatorco.id}/buildings", method: :get, local: true do |form| %>
  <%= form.label "Only show buildings with more than:" %>
  <%= form.number_field :units %>
  <%= "units" %>
  <%= form.submit "Submit" %>
<% end %>
<%= link_to "Sort Alphabetically", "/elevatorcos/#{@elevatorco.id}/buildings?alphabetize=true" %><br>
<hr>
<%= link_to "Add New Service Contract", "/elevatorcos/#{@elevatorco.id}/buildings/new" %>
