<a href="/elevatorcos/<%= @elevatorco.id %>">Back To <%= @elevatorco.name %></a><br>
<a href='/buildings'>Buildings Main</a><br>
<a href='/elevatorcos'>Elevator Companies Main</a>
<br><br>
<h3><%= @elevatorco.name %> Service Contracts</h3>
<p>
<% @buildings.each do |building| %>
<%= link_to building.name, "/buildings/#{building.id}" %><br>
<% end %><br>
<%= link_to "Add New Service Contract", ""/elevatorcos/#{@elevatorco.id}/buildings/new" %>
</p>
