<h1><%= @branch.name %></h1>
<h3>ID: <%= @branch.id %></h3>

<p>Name: <%= @branch.name %></p>
<p>Zip Code: <%= @branch.zip_code %></p>
<p>Has ATM?: <%= @branch.has_atm %></p>
<p>Quarterly Revenue: <%= @branch.quarterly_rev %></p>
<p>Bank ID: <%= @branch.bank_id %></p>
<p>Created At: <%= @branch.created_at %></p>
<p>Updated At: <%= @branch.updated_at %></p>
