<p><%= link_to "Branches Main", "/branches" %></p>

<header>
  <h1> Banks </h1> <%= link_to "New Bank", "/banks/new" %>
</header>
<br>
<% @banks.each do |bank| %>
  <p>
  <%= bank.name %><br>
  created at <%= bank.created_at %>
  <%= button_to "Edit #{bank.name}", "/banks/#{bank.id}/edit", method: :get %>
  <%= button_to "Delete #{bank.name}", "/banks/#{bank.id}", method: :delete %>
  </p>
<% end %>
