<p><%= link_to "Banks Main", "/banks" %> <%= link_to "Branches Main", "/branches" %></p>

<h1><%= @bank.name %></h1>
<h3>ID: <%= @bank.id %></h3>

<p>Number of Branches: <%= @bank.branches_count %> <%= link_to "(see all)", "/banks/#{@bank.id}/branches" %></p>
<p>Headquarters: <%= @bank.hq_city_state %></p>
<p>Size By Assets: <%= @bank.size_by_assets %></p>
<p>FDIC Insured?: <%= @bank.fdic_ins %></p>
<p>Mobile App?: <%= @bank.mobile_app %></p>
<p>Created At: <%= @bank.created_at %></p>
<p>Updated At: <%= @bank.updated_at %></p>

<button><%= link_to "Edit #{@bank.name}", "/banks/#{@bank.id}/edit" %></button>
