<ul>
  <li><a class="active" href=<%= "/buildings/#{@building.id}" %>><%= "#{@building.name}" %></a></li>
  <li><a href='/buildings'>Buildings</a></li>
  <li><a href='/elevatorcos'>Elevator Companies</a></li>
</ul>
<h1><%= @building.name %></h1>
<%= @building.address %><br>
Property owner: <%= @building.owner %><hr>
<p>
  Unit type: <%= @building.unit_type %><br>
  Number of units: <%= @building.num_units %><br>
  Year installed: <%= @building.year_installed %><br>
  Needs modernization?: <%= @building.needs_modernization? %><br>
  Last service date: <%= @building.last_serviced %><br>
  Service contract holder: <%= @building.elevatorco.name %><br>
  Added on: <%= @building.created_at %><br>
  Last updated: <%= @building.updated_at %><br>
  <button><%= link_to "Update Building Info", "/buildings/#{@building.id}/edit", method: :get %></button>
  <button><%= link_to "Delete Building", "/buildings/#{@building.id}", method: :delete %></button>
</p>
